<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplo 1 Javascript</title>
</head>
<body>
    <header>
        <h1>Exemplo 1 Javascript</h1>
        <div id="result"></div>
    </header>
    <script>
        let num1 = parseInt(window.prompt("Informe o primeiro número:"));
        let num2 = parseInt(prompt("Informe o segundo número: "));
        let r = document.getElementById('result');
        alert("A soma é: " + (num1 + num2));
        r.innerHTML = "<p>Os números digitados foram " + num1 + " e " + num2 + "</p>";
        r.innerHTML += "<p>A soma dos valores é: " + (num1+num2) + "</p>";
        document.write("<h2>A soma é: " + (num1+num2) + "</h2>");
    </script>
</body>
</html>