<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/prematricula.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <title>Exercício de Formulário</title>
</head>

<body class="w3-container-fluid" style="background-color: rgb(29, 35, 71);">
    <header class="w3-container-fluid w3-teal w3-center">
        <div class="w3-container">
            <h1>Escola Virtual</h1>
            <h2>Formulário de Pré-Matrícula</h2>
        </div>
        <nav class="w3-container-fluid w3-border w3-solid w3-blue" style="display: flex; justify-content: center; align-items: center;">
            <div class="w3-bar">
                <a href="../../index.html" class="w3-bar-item w3-button w3-mobile w3-hover-green">Página Principal</a>
                <a href="second.html" class="w3-bar-item w3-button w3-mobile w3-hover-green">Página Secundária</a>
                <a href="formulario.html" class="w3-bar-item w3-button w3-mobile w3-hover-green">Formulário</a>
            </div>
        </nav>
    </header>
    <main class="w3-container w3-margin" style="display: flex; justify-content: center;">
        <form class="w3-info" style="min-width: 100dvh; max-width: 100dvh;">
            <fieldset>
                <legend>Dados Pessoais:</legend>
                <label for="name">
                    Nome do Aluno:
                </label>
                <input class="w3-input w3-border w3-blue" type="text" id="name" name="name" required>
                <br>
                <label for="date-nasc">
                    Nascimento (dd/mm/aaaa):
                </label>
                <input class="w3-input w3-border w3-blue" type="date" id="date-nasc" name="date-nasc">
                <br>
                <label for="mother">
                    Nome da Mãe:
                </label>
                <input class="w3-input w3-border w3-blue" type="text" id="mother" name="mother">
                <br>
                <label for="pai">
                    Nome do Pai:
                </label>
                <input class="w3-input w3-border w3-blue" type="text" id="pai" name="pai">
                <br>
                <div class="w3-row">
                    <div class="w3-col" style="width: 80px; margin-right: 5px;">
                        <label for="DDD">
                            DDD:
                        </label>
                        <input class="w3-input w3-border w3-blue" type="number" id="DDD" name="DDD">
                    </div>
                    <div class="w3-col" style="margin-right: 5px; width: 70%;">
                        <label for="telephone">
                            Tel:
                        </label>
                        <input class="w3-input w3-border w3-blue" type="number" id="telephone" name="telephone">
                    </div>
                    <div class="w3-rest">
                        <label for="ramal">
                            Ramal:
                        </label>
                        <input class="w3-input w3-border w3-blue" type="number" id="ramal" name="ramal">
                    </div>
                </div>
                <br>
                <label for="email">
                    Email:
                </label>
                <input class="w3-input w3-border w3-blue" type="email" name="email" id="email" placeholder="seu@email.com" required>
            </fieldset>
            <fieldset>
                <legend>Informações de Matrícula:</legend>
                <div class="w3-row">
                    <div class="w3-third" style="padding-right: 10dvh;">
                        <label for="serie">
                            Série:
                        </label>
                        <select class="w3-select" id="serie" name="serie">
                            <option value="pre-escolar">pré-escolar</option>
                            <option value="fundamental-I">fundamental I</option>
                            <option value="fundamental-II">fundamental II</option>
                            <option value="ensino-medio">ensino médio</option>
                            <option value="graduacao">graduação</option>
                        </select>
                    </div>
                    <div class="w3-third">
                        <label for="turno">
                            Turno:
                        </label>
                        <div class="w3-flex" style="gap: 5px; align-items: center;"><input class="w3-radio"
                                style="margin-top: -10px;" type="radio" name="turno" id="turno">
                            <p>Manhã</p>
                        </div>
                        <div class="w3-flex" style="gap: 5px; align-items: center;"><input class="w3-radio"
                                style="margin-top: -10px;" type="radio" name="turno" id="turno">
                            <p>Tarde</p>
                        </div>
                    </div>
                    <div class="w3-third">
                        <label for="atv-ex">
                            Atividades Extracurriculares:
                        </label>
                        <div class="w3-flex" style="gap:5px;"><input class="w3-checkbox" type="checkbox" id="atv-ex" name="atv-ex">
                            <p>Informática</p>
                        </div>
                        <div class="w3-flex" style="gap:5px;"><input class="w3-checkbox" type="checkbox" id="atv-ex" name="atv-ex">
                            <p>Música</p>
                        </div>
                        <div class="w3-flex" style="gap:5px;"><input class="w3-checkbox" type="checkbox" id="atv-ex" name="atv-ex">
                            <p>Ballet</p>
                        </div>
                        <div class="w3-flex" style="gap:5px;"><input class="w3-checkbox" type="checkbox" id="atv-ex" name="atv-ex">
                            <p>Pintura</p>
                        </div>
                        <div class="w3-flex" style="gap:5px;"><input class="w3-checkbox" type="checkbox" id="atv-ex" name="atv-ex">
                            <p>Judô</p>
                        </div>
                        <div class="w3-flex" style="gap:5px;"><input class="w3-checkbox" type="checkbox" id="atv-ex" name="atv-ex">
                            <p>Futebol</p>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="w3-center">
                <input class="btn w3-btn w3-teal w3-border w3-round w3-margin" id="enviar" type="submit" value="Enviar">
                <input class="btn w3-btn w3-crimson w3-border w3-round w3-margin" id="limpar" type="reset" value="Limpar">
            </div>
        </form>
    </main>
</body>

</html>