<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/second.css">
    <title>TELES - ADS</title>

</head>
<body>
    <header>
        <h1>Página Secundária</h1>
        <h2>- Programação Web -</h2>
    </header>
    <main>
        <article>
            <div class="blur">
                <p>HTML, CSS e JavaScript são as três principais tecnologias usadas para criar páginas e aplicações na web. Cada uma tem um papel específico, e juntas formam a base do desenvolvimento front-end.

                <p>O HTML (HyperText Markup Language) é a estrutura da página. Ele funciona como o “esqueleto” de um site, organizando o conteúdo por meio de elementos como títulos, parágrafos, imagens, links e tabelas. Com o HTML, você define o que aparece na página, mas não como isso será exibido visualmente.</p>

                <p>O CSS (Cascading Style Sheets) é responsável pela aparência. Ele controla cores, fontes, tamanhos, espaçamentos, alinhamentos e até animações. Enquanto o HTML cria a estrutura, o CSS deixa o site bonito e organizado visualmente. Por exemplo, com CSS você pode transformar um simples texto em algo estilizado, com cores e layout moderno.</p>

                <p>Já o JavaScript (JS) é a parte interativa. Ele permite que a página responda às ações do usuário, como cliques, preenchimento de formulários ou movimentos do mouse. Com JavaScript, é possível criar menus dinâmicos, validação de formulários, animações avançadas e até aplicações completas dentro do navegador.</p>

                <p>Resumindo:</p>

                <ul>
                    <li>HTML define o conteúdo</li>
                    <li>CSS define o estilo</li>
                    <li>JavaScript define o comportamento</li>
                </ul>

                <p>Quando essas três tecnologias são usadas juntas, elas permitem criar desde sites simples até aplicações web complexas e interativas.</p></p>
            </div>
        </article>
        <aside>
            <ul>
                <li><a href="../../index.html">Página Principal;</a></li>
                <li>Link 2</li>
                <li>Link 3</li>
                <li>Link 4</li>
            </ul>
        </aside>
    </main>
    <footer>
        <p>2026 <strong>- Matheus Teles de Andrade -</strong> &copy; Todos os direitos reservados.</p>
    </footer>
</body>
</html>